.wrapper {
    position: absolute;
    float: left;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 6px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -o-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: border-box;
    overflow-y: auto;
}
